:host {
  display: block;
}

.container {
  margin-bottom: 1.25rem;
  max-width: 43.75rem;
}
.block{
  width: 252px;
  height: 300px;
  border: solid 1px #c0c0c0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure{
  display: flex;
}
