<tui-root>
<figure>

<form>
<tui-input [formControl]="control">
  Account
  <tui-data-list-wrapper
    *tuiDataList
    [items]="items | tuiFilterByInputWith : stringify"
    [itemContent]="stringify | tuiStringifyContent">
  </tui-data-list-wrapper>
</tui-input>
</form>

<form
  class="b-form"
  [formGroup]="testForm">
  <tui-input-password
    formControlName="testValue"
    class="tui-space_top-2">
    Type a password
    <input
      tuiTextfield
      placeholder="Make it secure!"/>
  </tui-input-password>
</form>

<br>

<div class="button">

<button
  tuiButton
  type="button"
  appearance="whiteblock-active"
  class="tui-space_right-2">
  Вход
</button>

<a tuiButton
  type="button"
  routerLink="/create"
   appearance="whiteblock-active"
   class="tui-space_left-2">
  Регистрация
</a>

</div>

</figure>
</tui-root>
