<tui-root>
  <figure>

    <form class="b-form"
          [formGroup]="testForm">
      <tui-checkbox-block
        formControlName="testValue1"
        contentAlign="left"
        class="tui-space_right-3"
        [hideCheckbox]="true"
        size="l">Понедельник
      </tui-checkbox-block>


      <tui-input-time
        formControlName="testValue1"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>

      <tui-input-time
        formControlName="testValue1"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
    </form>

    <br>

    <form class="b-form"
          [formGroup]="testForm">
      <tui-checkbox-block
        formControlName="testValue2"
        contentAlign="left"
        class="tui-space_right-3"
        [hideCheckbox]="true"
        size="l">
        Вторник
      </tui-checkbox-block>

      <tui-input-time
        formControlName="testValue2"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
      <tui-input-time
        formControlName="testValue2"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
    </form>

    <br>

    <form class="b-form"
          [formGroup]="testForm">
      <tui-checkbox-block
        formControlName="testValue3"
        contentAlign="left"
        class="tui-space_right-3"
        [hideCheckbox]="true"
        size="l">
        Среда
      </tui-checkbox-block>

      <tui-input-time
        formControlName="testValue3"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
      <tui-input-time
        formControlName="testValue3"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
    </form>

    <br>

    <form class="b-form"
          [formGroup]="testForm">
      <tui-checkbox-block
        formControlName="testValue4"
        contentAlign="left"
        class="tui-space_right-3"
        [hideCheckbox]="true"
        size="l">
        Четверг
      </tui-checkbox-block>

      <tui-input-time
        formControlName="testValue4"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
      <tui-input-time
        formControlName="testValue4"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
    </form>

    <br>

    <form class="b-form"
          [formGroup]="testForm">
      <tui-checkbox-block
        formControlName="testValue5"
        contentAlign="left"
        class="tui-space_right-3"
        [hideCheckbox]="true"
        size="l">
        Пятница
      </tui-checkbox-block>

      <tui-input-time
        formControlName="testValue5"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
      <tui-input-time
        formControlName="testValue5"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
    </form>

    <br>

    <form class="b-form"
          [formGroup]="testForm">
      <tui-checkbox-block
        formControlName="testValue6"
        contentAlign="left"
        class="tui-space_right-3"
        [hideCheckbox]="true"
        size="l">
        Суббота
      </tui-checkbox-block>

      <tui-input-time
        formControlName="testValue6"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
      <tui-input-time
        formControlName="testValue6"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
    </form>

    <br>

    <form class="b-form"
          [formGroup]="testForm">
      <tui-checkbox-block
        formControlName="testValue7"
        contentAlign="left"
        class="tui-space_right-3"
        [hideCheckbox]="true"
        size="l">
        Воскресенье
      </tui-checkbox-block>

      <tui-input-time
        formControlName="testValue7"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
      <tui-input-time
        formControlName="testValue7"
        tuiTextfieldSize="l"
        class="tui-space_right-3"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [items]="items">
        Выбрать время
      </tui-input-time>
    </form>

    <br>
    <div class="button">
      <!--КНОПКА ДАЛЕЕ-->
      <a tuiButton
         type="button"
         size="m"
         routerLink="/home2"
         appearance="primary"
         icon="tuiIconArrowLeftLarge"
         class="tui-space_right-3">
        Назад </a>

      <!--КНОПКА НАЗАД-->
      <a tuiButton
         type="button"
         size="m"
         routerLink="/home3"
         appearance="primary"
         iconRight="tuiIconArrowRightLarge"
         class="tui-space_left-3">
        Далее </a>

    </div>
  </figure>
</tui-root>


