<tui-root>
<figure>
<form [formGroup]="test1Form">
 <div class="container">
      <tui-checkbox-labeled
        formControlName="testValue1"
        appearance="icon"
        class="tui-space_right-3"
        size="l">
        Понедельник
      </tui-checkbox-labeled>

   <form class="b-form"
      [formGroup]="testForm">
       <tui-input-time
        formControlName="testValue1"
        class="tui-space_right-3"
        [tuiTextfieldCleaner]="true"
        [items]="items">

       </tui-input-time>

       <tui-input-time
        formControlName="testValue2"
        class="tui-space_right-3"
        [tuiTextfieldCleaner]="true"
        [items]="items">

       </tui-input-time>
   </form>
 </div>


<br><br>




    <br>
    <tui-elastic-container class="container">
    <tui-checkbox-labeled
      formControlName="testValue2"
      size="l">
      Вторник
    </tui-checkbox-labeled>
    </tui-elastic-container>
<br>
    <tui-elastic-container class="container">
    <tui-checkbox-labeled
      formControlName="testValue3"
      size="l"
      class="tui-space_top-5 tui-space_bottom-4">
      Среда
    </tui-checkbox-labeled>
    </tui-elastic-container>
  </form>




<br><br>




















   <div class="button">
      <!--КНОПКА ДАЛЕЕ-->
      <a tuiButton
         type="button"
         size="m"
         routerLink="/home2"
         appearance="primary"
         icon="tuiIconArrowLeftLarge"
         class="tui-space_right-3">
        Назад </a>

      <!--КНОПКА НАЗАД-->
      <a tuiButton
         type="button"
         size="m"
         routerLink="/home3"
         appearance="primary"
         iconRight="tuiIconArrowRightLarge"
         class="tui-space_left-3">
        Далее </a>

    </div>
</figure>
</tui-root>

