<tui-root>
<figure>
  <form [formGroup]="testForm">
  <div class="tui-form__row">
    <tui-checkbox-block
      contentAlign="left"
      appearance="icon"
      formControlName="testValue1"
      size="l">
      Понедельник
    </tui-checkbox-block>

    <form
      class="b-form"
      [formGroup]="testForm">
      <tui-input-time
        formControlName="testValue"
        [items]="items1">
        Input time
      </tui-input-time>
      <tui-input-time
        formControlName="testValue"
        class="tui-space_top-4"
        [items]="items2"
        [strict]="true">
        Input time
      </tui-input-time>
    </form>



    <tui-checkbox-block
      contentAlign="left"
      formControlName="testValue2"
      size="l">
      Вторник
    </tui-checkbox-block>
  </div>
  </form>


   <div class="button">
      <!--КНОПКА ДАЛЕЕ-->
      <a tuiButton
         type="button"
         size="m"
         routerLink="/home2"
         appearance="primary"
         icon="tuiIconArrowLeftLarge"
         class="tui-space_right-3">
        Назад </a>

      <!--КНОПКА НАЗАД-->
      <a tuiButton
         type="button"
         size="m"
         routerLink="/home3"
         appearance="primary"
         iconRight="tuiIconArrowRightLarge"
         class="tui-space_left-3">
        Далее </a>

    </div>
</figure>
</tui-root>

