@import '@taiga-ui/core/styles/taiga-ui-local.less';

figure{
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.b-form{
  display: flex;
}
