@import '@taiga-ui/core/styles/taiga-ui-local.less';

form{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-bottom: 7rem;
  @media @tui-desktop-min {}
}


a, button {
  width: 6rem;
  @media @tui-desktop-min {
    width: 10em;
  }
}










