<div>

<tui-marker-icon src="tuiIconLinkedinLarge"></tui-marker-icon>

<a tuiButton
  type="button"
  routerLink="/home"
  appearance="secondary"
  class="tui-space_left-7 tui-space_right-3">
  Главная
</a>

<a tuiButton
  type="button"
  routerLink="/addnew"
  appearance="secondary"
   class="tui-space_right-3">
  Добавить
</a>

<a tuiButton
  type="button"
  routerLink="/user"
  appearance="secondary"
   class="tui-space_right-3">
  Вход
</a>

<a tuiButton
  type="button"
  routerLink="/addnew"
  appearance="secondary"
   class="tui-space_right-3">
  Добавить
</a>

</div>
<br><br>
<router-outlet></router-outlet>


