<tui-root>
 <figure>
   <form class="group"
     [formGroup]="testForm">
     <div tuiGroup
       class="group"
       [collapsed]="true">

       <tui-radio-block
         *ngFor="let day of days"
         formControlName="testValue"
         contentAlign="right"
         size="l"
         [item]="day"
         [hideRadio]="true">
         {{ day }}
       </tui-radio-block>

     </div>
   </form>

   <div class="block">
      <tui-calendar
        [value]="value"
        (dayClick)="onDayClick($event)">
      </tui-calendar>
      <div *ngIf="value">Chosen date: {{ value }}</div>
  </div>




 </figure>
</tui-root>

