@import '@taiga-ui/core/styles/taiga-ui-local.less';

figure{
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}

.button{
  display: flex;
  justify-content: center;
}

//содержимое окон
//.item {
//  height: 100px;
//  background: var(--tui-neutral-bg);
//  color: var(--tui-text-01);
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}




//img{
//  width: 50%;
//  height: 40%;
//}
//a{
//  width: 95%;
//}
//figure{
//  display: inline-block;
//  position: absolute;
//  text-align: center;
//  left: 0;
//  right: 0;
//}
//.button{
//  display: flex;
//  justify-content: center;
//}
