<tui-root>
  <figure>
    <form
      class="b-form"
      [formGroup]="group">
      <tui-input formControlName="name"
        class="tui-space_top-2">
        Имя</tui-input>

      <tui-input formControlName="name"
        class="tui-space_top-2">
        Фамилия</tui-input>

      <tui-select
        class="tui-space_vertical-2"
        [ngModelOptions]="{'standalone': true}"
        [(ngModel)]="type">
        Выберите
        <tui-data-list-wrapper
        *tuiDataList
        [items]="items">
        </tui-data-list-wrapper>
      </tui-select>

      <tui-input
        *ngIf="type === items[0]; else phone"
        [tuiValidator]="validator"
        formControlName="contact"
        class="tui-space_top-2">
        Введите ваш email
      </tui-input>
      <ng-template #phone>
      <tui-input-phone-international formControlName="contact"
        class="input"
        [countries]="countries"
        [(countryIsoCode)]="countryIsoCode">
        Введите номер телефона
        </tui-input-phone-international>
      </ng-template>

      <tui-input-password
        formControlName="testValue"
        class="tui-space_top-2">
        Пароль
      </tui-input-password>

      <tui-input-password
        formControlName="testValue"
        class="tui-space_top-2">
        Повторите пароль
      </tui-input-password>
    </form>

    <br>





<!--КНОПКИ-->

    <div class="button">
      <a tuiButton
        type="button"
        size="m"
        routerLink="/user"
        appearance="primary"
        icon="tuiIconChevronLeftLarge"
        class="tui-space_right-2">
        Назад
      </a>
      <a tuiButton
        type="button"
        size="m"
        routerLink="/user"
        appearance="primary"
        iconRight="tuiIconCheckLarge"
        class="tui-space_left-2">
        Готово
      </a>
    </div>
  </figure>
</tui-root>


