<tui-root>
  <figure>
    <form>
      <tui-input-tag
        class="b-form"
        [tuiTextfieldLabelOutside]="true"
        [formControl]="control">
        Фамилия
      </tui-input-tag>
<br>
      <tui-input-tag
        class="b-form"
        [tuiTextfieldLabelOutside]="true"
        [formControl]="control">
        Имя
      </tui-input-tag>
<br>
      <tui-input-tag
        class="b-form"
        [tuiTextfieldLabelOutside]="true"
        [formControl]="control">
        Логин
      </tui-input-tag>
<br>
      <tui-input-tag
        class="b-form"
        [tuiTextfieldLabelOutside]="true"
        [formControl]="control">
        Email
      </tui-input-tag>
    </form>

    <br><br><br>
    <div class="button">
      <a tuiButton
         type="button"
         size="m"
         routerLink="/"
         appearance="primary"
         class="tui-space_right-2">
        Изменить пароль
      </a>

      <a tuiButton
         type="button"
         size="m"
         routerLink="/"
         appearance="primary"
         class="tui-space_left-2">
        Сохранить
      </a>
    </div>
  </figure>
</tui-root>
