<tui-root>

<figure>
<!--НАЗВАНИЕ-->
  <div class="block">
    <tui-input
      tuiHintContent="Название"
      class="b-form"
      [tuiTextfieldCleaner]="true"
      [tuiTextfieldCustomContent]="control.valid ? success : ''"
      [formControl]="control">
      Название
    </tui-input>
    <ng-template #success>
      <tui-svg
        src="tuiIconCheckLarge"
        class="success tui-space_left-3">
      </tui-svg>
    </ng-template>
<br>
<!--ZOOM SKYPE AUDIO-->
    <form
      class="group"
      [formGroup]="testForm">
      <div
        tuiGroup
        class="group"
        [collapsed]="true">
        <tui-radio-block
          contentAlign="right"
          formControlName="testValue"
          item="orange"
          size="s">
          Zoom
        </tui-radio-block>
        <tui-radio-block
          contentAlign="right"
          formControlName="testValue"
          item="apple"
          size="s">
          Встреча
        </tui-radio-block>
        <tui-radio-block
          contentAlign="right"
          formControlName="testValue"
          item="pineapple"
          size="s">
          Телефон
        </tui-radio-block>
      </div>
    </form>
<br>
<!--поле для описания-->
    <tui-input
      tuiHintContent="Описание встречи"
      class="b-form"
      [tuiTextfieldCleaner]="true">
      Описание
    </tui-input>

<br>

  <!--  поле для ссылки-->
    <tui-input
      tuiHintContent="Ссылка на встречу"
      class="b-form"
      [tuiTextfieldCleaner]="true">
      Ссылка
    </tui-input>

<br>

    <tui-hosted-dropdown
      tuiDropdownAlign="left"
      [content]="palette"
      [tuiDropdownMaxHeight]="999">

      <button tuiButton
        type="button"
        size="s"
        appearance="outline"
        automation-id="color-picker__button"
        [style.background]="color$ | async">
        Выбрать цвет
      </button>

    </tui-hosted-dropdown>
    <ng-template #palette>
      <tui-palette
        [colors]="colors"
        (selectedColor)="updateColor($event)"
      ></tui-palette>
    </ng-template>
  </div>

  <br>

  <div class="button">
    <!--КНОПКА-->
    <a tuiButton
       type="button"
       size="m"
       routerLink="/home"
       appearance="primary"
       icon="tuiIconArrowLeftLarge"
       class="tui-space_right-3">
      Назад </a>

    <!--КНОПКА-->
    <a tuiButton
       type="button"
       size="m"
       routerLink="/home2"
       appearance="primary"
       iconRight="tuiIconArrowRightLarge"
       class="tui-space_left-3">
      Далее </a>
  </div>
</figure>
</tui-root>


