
<figure>
  <div class="button">
  <!--КНОПКА-->
  <a tuiButton
     type="button"
     routerLink="/home"
     appearance="whiteblock-active"
     icon="tuiIconArrowLeftLarge"
     class="tui-space_right-3">
    Назад </a>

  <!--КНОПКА-->
  <a tuiButton
     type="button"
     routerLink="/home2"
     appearance="whiteblock-active"
     iconRight="tuiIconArrowRightLarge"
     class="tui-space_left-3">
    Далее </a>
  </div>
<br>
  <div class="form">
<!--НАЗВАНИЕ-->
    <tui-input
      tuiHintContent="Название"
      class="b-form"
      [tuiTextfieldCleaner]="true"
      [tuiTextfieldCustomContent]="control.valid ? success : ''"
      [formControl]="control">
      Название
    </tui-input>
    <ng-template #success>
      <tui-svg
        src="tuiIconCheckLarge"
        class="success tui-space_left-3">
      </tui-svg>
    </ng-template>
<br>
<!--ZOOM SKYPE AUDIO-->
    <form
      class="group"
      [formGroup]="testForm">
      <div
        tuiGroup
        class="group"
        [collapsed]="true">
        <tui-radio-block
          contentAlign="right"
          formControlName="testValue"
          item="orange"
          size="s">
          Zoom
        </tui-radio-block>
        <tui-radio-block
          contentAlign="right"
          formControlName="testValue"
          item="apple"
          size="s">
          Skype
        </tui-radio-block>
        <tui-radio-block
          contentAlign="right"
          formControlName="testValue"
          item="pineapple"
          size="s">
          WhatsApp
        </tui-radio-block>
      </div>
    </form>
  </div>
<br>
  <tui-elastic-container class="container">
    <div
      tuiHintContent="Описание"
      contenteditable
      class="editable">
      Описание
    </div>
  </tui-elastic-container>
</figure>


